@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    display: inline;
    border-radius: 0.30rem;
    font-weight: 500;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
    border-width: 2px;
    font-size: 13px;
    height: 3rem;
  }

  .button:hover {
    background-color: white;
  }

  .button-sm {
    display: inline;
    border-radius: 0.30rem;
    font-weight: 500;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
    border-width: 2px;
    font-size: 13px;
    height: 3rem;
  }

  .button-sm:hover {
    background-color: white;    
  }

  .card {
    height: 360px;
    width: 280px;
    display: grid;
    justify-items: center;
    border-radius: 1rem;
  }

  .heading-lg {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
  }

  .heading-sm {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
  }

  .para-lg {
    font-size: 18px;
    line-height: 1.6;
  }

  .para-sm {
    font-size: 15px;
    line-height: 1.6;
  }

  .accordion {
    width: 100%;
    text-align: left;
    display: flex;
    place-content: space-between;
    align-items: center;
  }

  .question {
    /* font-size: 1.125rem;
    line-height: 1.75rem; */
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
  }

  /* .answer {
    margin-top: 1.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  } */

  .answer-lg {
    margin-top: 1.25rem;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 2rem;    
  }
  
  .answer-sm {
    margin-top: 1.25rem;
    font-size: 15px;
    line-height: 2;
    margin-bottom: 2rem;
  }
}