@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    display: inline;
    border-radius: 0.30rem;
    font-weight: 500;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
    border-width: 2px;
    font-size: 13px;
  }

  .button:hover {
    background-color: white;
  }

  .subheading {
    font-size: 32px;
    font-weight: 500;
  }

}